body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

#search {
  display: block;
  margin: 40px auto;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#results {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  #title {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 32px;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

